{% extends "member/member.html" %} {% block title %}member's home page {% endblock%}
{% block content %}


<h2 class="heading-1">My bill</h2>
<input type="hidden" value="{{userid}}" name="userid" id="userid">
<table class="primary_table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">user id</th>
        <th scope="col">subscription start</th>
        <th scope="col">subscription ends</th>
        <th scope="col">Account balance</th>
      </tr>
    </thead>
    <tbody>
        {% for item in subscription %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
          {% endfor %}

        </tr>
    <tfoot>
        <tr>
        <th id="own" colspan="3">Total own:</th>
        
        {%if own != 0 %}
        
            <td>  
                <a href="/member/paynow/?userid={{userid}}&amount={{own}}" class="btn-2">pay now</a>
            </td>
        {%else%}
            <td>
            0
            </td>
        {% endif %}    
        </tr>
    </tfoot>

    </tbody>
  </table>

{%endblock%}