
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}sweat society fitness{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
    <link rel="stylesheet" href="/static/main.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {% block header %}
    <header class="header">
     
      <nav class="navbar">
        <a class="navbar_link" href="/trainer/?userid={{userid}}">Home</a>
        <a class="navbar_link" href="/trainer/profile/?userid={{userid}}">View profile</a>
        <a class="navbar_link" href="/trainer/trainee/?userid={{userid}}">View trainee</a>
        <a class="navbar_link" href="/">Log out</a>
      </nav>
    </header>
    {% endblock %}
     

      <section class="member_container">
        {% block content %}
        <h2 class="message_1">Welcome, trainer</h2>
        {% endblock %}
      </section>

      <footer class="footer">
        <address>
          Contact details: 123 street, lincoln gym &bull;
          lincolngym@christchurch.co.nz &bull; ph. 03 555 1234
        </address>
      </footer>
    </div>
  </body>
</html>
