{% extends "admin/admin.html" %}
{% block title %}
Addmember
{% endblock %}
{% block content %}

<section class="home">
  <div class="am">
    <div class="content">
<!-- h2 title for this page -->
<span class="btn btn-dark"><h2>Add a new member</h2></span>
<br>
<br>
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
<meta name="format-detection" content="date=YY/MM/DD">
<!-- form for adding a new member -->
<form action="/admin/addmember" method="POST">
  <div class="form-group"></div>
  <label for="first_name">*First Name:</label>
  <input type="text" class="form-control" id="first_name" name="first_name" required>
  <label for="last_name">*Last Name:</label>
  <input type="text" class="form-control" id="last_yname" name="last_name" required>
  <label for="email">*Email:</label>
  <input type="email" class="form-control" id="email" name="email" required>
  <label for="phone">*Phone Number:</label>
  <input type="text" class="form-control" id="phone" name="phone" maxlength="10" required>
  <label for="address">Address:</label>
  <input type="text" class="form-control" id="address" name="address">
  <label for="dob">Date of Birth:</label>
  <input type="date" class="form-control" id="dob" name="date_of_birth">
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-start">
    <input type="submit" value="Submit" class="btn btn-primary btn-lg">
    <!-- back button -->
    <a href="/admin/memberprofile/?userid={{admin_userid}}" type="button" class="btn btn-dark btn-lg">Back</a>
  </div>  
</form>
</div>
</div>
</section>
{% endblock %}  