{% extends "admin/admin.html" %} {% block title %}member's home page {%
endblock%} {% block content %}

<form action="{{url_for('deactivate')}}" method="POST">
  <input type="hidden" name="admin_userid" value="{{admin_userid}}" />
  {% if deactivated %}
  <h2>You've deactivated all the members with balance under $-20.</h2>
  {% elif member_deactive%}
  <h2>member with the balance under $-20 but still active:</h2>

  <table class="primary_table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">member id</th>
        <th scope="col">user id</th>
        <th scope="col">Full name</th>

        <th scope="col">subscription start date</th>
        <th scope="col">subscription end date</th>
        <th scope="col">balance</th>
      </tr>
    </thead>

    <tbody>
      {% for a in member_deactive %}
      <tr>
        <td>{{a[0]}}</td>
        <td>{{a[1]}}</td>
        <td>{{a[2]}} {{a[3]}}</td>

        <td>{{a[9]}}</td>
        <td>{{a[10]}}</td>
        <td>{{a[11]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn-2">
      Deactivate members balance under $-20
    </button>
    <a href="/admin/deduct/?userid={{admin_userid}}" class="btn-2">Back</a>
  </div>
  {% else %}
  <h2>There are no members active with balance under $-20.</h2>
  {% endif %}
</form>

{% endblock %}
