{% extends "admin/admin.html" %} {% block title %}admin's home page {%
endblock%} {% block content %} {% if deducted %}
<h2>the member's subscription fee had been deducted!</h2>
<h2>
  the subscription end date for all the active member extended to
  {{seven_days_after}}
</h2>

{% else %} {% if no_active %}
<h2>{{no_active}}</h2>

<a class="btn-2" href="/admin/memberprofile/?userid={{admin_userid}}">
  go to member page to edit member</a
>
{% else %}
<form action="{{url_for('deduct')}}" method="POST">
  <input type="hidden" name="admin_userid" value="{{admin_userid}}" />
  <h2>
    The subscription end date for all the active members is
    <div class="badge badge-pill badge-block badge-warning">
      {{current_sub_end_date}}.
    </div>
    <br />
    Are you sure you want to extend it?
  </h2>
  <button type="submit" class="btn-2">Yes! Deduct Subscription fee</button>
  <a href="/admin/?userid={{admin_userid}}" class="btn-2">Back</a>

  <a href="/admin/deactivate/?userid={{admin_userid}}" class="btn-2"
    >Deactive Member</a
  >
</form>
{% endif %} {% endif %} {% endblock %}
