{% extends "admin/admin.html" %} {% block title %} View member {% endblock%} {%
block content %}
<div>
  <form action="{{url_for('memberprofile')}}" method="POST" class="login_form">
    <input type="hidden" name="admin_userid" value="{{admin_userid}}" />
    {% if active_member %}
    <h2>You can't delete an active member!</h2>
    {% endif %} {% if deleted %}
    <h2>You have deleted one member!</h2>
    {% endif %} {% if incorrect %}
    <h2>The member is not exist!</h2>
    {% endif %}
    <label for="search" class="heading-1"
      >Enter the last name to search member:</label
    >
    <input type="text" id="search" name="search" class="login_input" />
    <input type="submit" class="btn-2 member_view_trainer_btn" />
  </form>
</div>
{% if searched_member %}

<table class="primary_table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">user id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">address</th>
      <th scope="col">date of birth</th>
      <th scope="col">status</th>
      <th scope="col">start date</th>
      <th scope="col">end date</th>
      <th scope="col">balance</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for a in searched_member %}
    <tr>
      <td>{{a[1]}}</td>
      <td>{{a[2]}}</td>
      <td>{{a[3]}}</td>
      <td>{{a[4]}}</td>
      <td>{{a[5]}}</td>
      <td>{{a[6]}}</td>
      <td>{{a[7]}}</td>
      <td>
        {% if a[8] == 1 %}
        <span class="badge badge-pill badge-block badge-success">active</span>
        {% else %}
        <span class="badge badge-pill badge-block badge-danger">inactive</span>
        {% endif %}
      </td>
      <td>{{a[9]}}</td>
      <td>{{a[10]}}</td>
      <td>{{a[11]}}</td>
      <td>
        <a
          href="/admin/memberprofile/delete/?userid={{admin_userid}}&member_user_id={{a[1]}}"
          class="btn"
        >
          delete
        </a>

        <a
          href="/admin/memberprofile/update/?userid={{admin_userid}}&member_user_id={{a[1]}}"
          class="btn"
        >
          edit
        </a>

        <a
          href="/admin/attendance/?userid={{admin_userid}}&member_user_id={{a[1]}}"
          class="btn"
        >
          attendance
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%else%}
<table class="primary_table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">user id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">address</th>
      <th scope="col">date of birth</th>
      <th scope="col">status</th>
      <th scope="col">start date</th>
      <th scope="col">end date</th>
      <th scope="col">balance</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for a in memberlist %}
    <tr>
      <td>{{a[1]}}</td>
      <td>{{a[2]}}</td>
      <td>{{a[3]}}</td>
      <td>{{a[4]}}</td>
      <td>{{a[5]}}</td>
      <td>{{a[6]}}</td>
      <td>{{a[7]}}</td>
      <td>
        {% if a[8] == 1 %}
        <span class="badge badge-pill badge-block badge-success">active</span>
        {% else %}
        <span class="badge badge-pill badge-block badge-danger">inactive</span>
        {% endif %}
      </td>
      <td>{{a[9]}}</td>
      <td>{{a[10]}}</td>
      <td>{{a[11]}}</td>
      <td>
        <a
          href="/admin/memberprofile/delete/?userid={{admin_userid}}&member_user_id={{a[1]}}"
          class="btn"
        >
          delete
        </a>

        <a
          href="/admin/memberprofile/update/?userid={{admin_userid}}&member_user_id={{a[1]}}"
          class="btn"
        >
          edit
        </a>

        <a
          href="/admin/attendance/?userid={{admin_userid}}&member_user_id={{a[1]}}"
          class="btn"
        >
          attendance
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
