{% extends "admin/admin.html" %} {% block title %} Popularclass {% endblock%} {%
block content %}

<h2 class="heading-2">Popular class from {{week_ago}} to {{current_date}}:</h2>
<table class="primary_table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Class Name</th>
      <th scope="col">Instructors</th>
      <th scope="col">Total Booked</th>
      <th scope="col">Clss Date</th>
      <th scope="col">Class Time</th>
    </tr>
  </thead>
  <tbody>
    {% for item in classlist %}
    <tr>
      <td>{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>{{ item[4] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
