{% extends "admin/admin.html" %} {% block title %} Trainer's class page {%
endblock%} {% block content %} {% if dbOutput %}
<h2 class="heading-2">All the PT sessions under this trainer</h2>

<h2 class="heading-2">from {{today}} to {{seven_days_later}}</h2>
<input type="hidden" name="admin_userid" value="{{admin_userid}}" />
<table class="primary_table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">session ID</th>
      <th scope="col">date</th>
      <th scope="col">time</th>
      <th scope="col">fee</th>
      <th scope="col">session_status</th>
    </tr>
  </thead>

  <tbody>
    {% for a in dbOutput %}
    <tr>
      <td>{{a[0]}}</td>
      <td>{{a[2]}}</td>
      <td>{{a[4]}}</td>
      <td>{{a[3]}}</td>
      <td>{{a[5]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a
  href="/admin/viewtrainers/?userid={{admin_userid}}&trainer_user_id={{trainer_user_id}}"
  class="btn-2"
  >Back</a
>
{% else %}
<h2>There are no PT sessions under this trainer this week!</h2>
<a
  href="/admin/viewtrainers/?userid={{admin_userid}}&trainer_user_id={{trainer_user_id}}"
  class="btn-2"
  >Back</a
>
{% endif %} {% endblock %}
