{% extends "admin/admin.html" %} {% block title %} Viewpayment {% endblock%} {%
block content %} {% if process_all %}
<h2>There is no payment needs to be processed!</h2>
{% elif processed %}
<h2>All the payments have been processed!</h2>
{% elif payment %}
<form action="{{url_for('viewpayment')}}" method="POST">
  <input type="hidden" name="admin_userid" value="{{admin_userid}}" />
  <h2>{{ process_one }}</h2>
  <h2>payment list that had not been processed:</h2>
  <table class="primary_table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">payment id</th>
        <th scope="col">member userid</th>
        <th scope="col">amount</th>
        <th scope="col">date</th>
        <th scope="col">time</th>
        <th scope="col">type</th>
        <th scope="col">status</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      {% for a in payment %}
      <tr>
        <td>{{a[0]}}</td>
        <td>{{a[1]}}</td>
        <td>{{a[2]}}</td>
        <td>{{a[3]}}</td>
        <td>{{a[4]}}</td>
        <td>{{a[5]}}</td>
        <td>{{a[6]}}</td>
        <td>
          <a
            href="/admin/viewpayment/process/?userid={{admin_userid}}&member_userid={{a[1]}}&paymentid={{a[0]}}"
            class="btn-2 member_view_trainer_btn"
          >
            process</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn-2">Process All Payment</button>
    <a href="/admin/?userid={{admin_userid}}" class="btn-2">Back</a>
  </div>
</form>

{% endif %} {% endblock %}
