{% extends "admin/admin.html" %} {% block title %}Administrative system for
staff {% endblock%} {% block content %} {% if message %}
<h2>You've sent the messages to the members overdue!</h2>
{% endif %}
<h2>member with balance under $-20:</h2>
<form action="{{url_for('subscription')}}" method="POST">
  <input type="hidden" name="admin_userid" value="{{admin_userid}}" />
  <table class="primary_table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">user id</th>
        <th scope="col">Full name</th>
        <th scope="col">Subscription Status</th>
        <th scope="col">Subscription End Date</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>

    <tbody>
      {% for a in mbersub_status %}
      <tr>
        <td>{{a[0]}}</td>
        <td>{{a[1]}} {{a[2]}}</td>
        <td>{% if a[3] == 1 %} Active {% else %} Inactive {% endif %}</td>
        <td>{{a[5]}}</td>
        <td>{{a[6]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn-2 member_view_trainer_btn">
    Remind members to pay
  </button>

  <a
    href="/admin/deactivate/?userid={{admin_userid}}"
    class="btn-2 member_view_trainer_btn"
    >deactive overdue members</a
  >
</form>
{% endblock %}
