{% extends "admin/admin.html" %} {% block title %} Trainer in the gym {%
endblock%} {% block content %}

<table class="primary_table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">user id</th>
      <th scope="col">Full name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">address</th>
      <th scope="col">date of birth</th>
      <th scope="col">specialty</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for a in dbOutput %}
    <tr>
      <td>{{a[1]}}</td>
      <td>{{a[2]}} {{a[3]}}</td>
      <td>{{a[4]}}</td>
      <td>{{a[5]}}</td>
      <td>{{a[6]}}</td>
      <td>{{a[7]}}</td>
      <td>{{a[8]}}</td>
      <td>
        <a
          href="/admin/viewtrainers/groupclass/?userid={{admin_userid}}&trainer_user_id={{a[1]}}"
          class="btn-2 member_view_trainer_btn"
        >
          Classes
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
